# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Racket
*.bak

# VScode
.vscode
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/*
.vscode/settings.json

# CMake
build/

# AI
*input.txt
*output.txt

# Java
*.class

#Other
main.zip

