@use "../../variables";

.section {
    padding: 20px 0;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
}

.section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    display: inline-block;
}


:global(.light-theme) .section:nth-child(even) {
    background-color: variables.$light-theme-team-member-background-color;
}

:global(.dark-theme) .section:nth-child(even) {
    background-color: variables.$dark-theme-team-member-background-color;
}