// Light theme
$light-theme-background-color: #fff;
$light-theme-text-color: #333; 
$light-theme-button-hover-color: #555;

$light-theme-content-card-background-color: #eee;
$light-theme-team-member-background-color: #f5f5f5;
$light-theme-blog-post-background-color: #f0f0f0;
$light-theme-blog-post-button-background-color: #4caf50;
$light-theme-blog-post-button-hover-background-color: #45a049;
$light-theme-contact-form-background-color: #f9f9f9;
$light-theme-contact-form-border-color: #ddd;
$light-theme-contact-form-textarea-color: #ccc;


// Dark theme
$dark-theme-background-color: #111;
$dark-theme-team-member-background-color: #444;
$dark-theme-blog-post-background-color: #222;
$dark-theme-contact-form-textarea-color: #666;