@use "variables";

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
  }
  
  .navbar a {
    text-decoration: none;
    padding: 0 20px;
  }
  
  .portfolio {
    margin: 0 auto;
  }
  
  .header {
    padding: 50px 0;
    text-align: center;
  }
  
  .header h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.5em;
  }
  
  .content-card {
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .blog-post {
    border-radius: 10px;
    padding: 20px;
    text-align: left;
  }
  
  .blog-post h3 {
    margin-bottom: 10px;
  }
  
  .blog-post p {
    margin-bottom: 10px;
  }
  
  .blog-post button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .blog-post button:hover {
    background-color: variables.$light-theme-blog-post-button-hover-background-color;
  }
  
  .footer {
    padding: 20px 0;
    text-align: center;
  }
  
  .theme-toggle-button {
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  /* Light theme */
  .light-theme {
    background-color: variables.$light-theme-background-color;
    color: variables.$light-theme-text-color; /* Text color for light theme */
  }
  
  .light-theme .navbar a {
    color: variables.$light-theme-text-color; /* Link color for light theme */
  }
  
  .light-theme .theme-toggle-button {
    background-color: variables.$light-theme-text-color;
    color: variables.$light-theme-background-color;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .light-theme .theme-toggle-button:hover {
    background-color: variables.$light-theme-button-hover-color;
  }
  
  .light-theme .content-card {
    background-color: variables.$light-theme-content-card-background-color;
  }
  

  
  .light-theme .blog-post {
    background-color: variables.$light-theme-blog-post-background-color;
    color: variables.$light-theme-text-color;
  }
  
  .light-theme .blog-post button {
    background-color: variables.$light-theme-blog-post-button-background-color;
    color: variables.$light-theme-background-color;
  }
  
  .light-theme .blog-post button:hover {
    background-color: variables.$light-theme-blog-post-button-hover-background-color;
  }

  
  .light-theme .navbar {
    background-color: variables.$light-theme-blog-post-background-color;
  }
  
  
  /* Dark theme */
  .dark-theme {
    background-color: variables.$dark-theme-background-color;
    color: variables.$light-theme-background-color; /* Text color for dark theme */
  }
  
  .dark-theme .navbar a {
    color: variables.$light-theme-background-color; /* Link color for dark theme */
  }
  
  .dark-theme .theme-toggle-button {
    background-color: variables.$light-theme-contact-form-border-color;
    color: variables.$light-theme-text-color;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dark-theme .theme-toggle-button:hover {
    background-color: variables.$light-theme-contact-form-textarea-color;
  }
  
  .dark-theme .content-card {
    background-color: variables.$light-theme-text-color;
  }

  
  .dark-theme .blog-post {
    background-color: variables.$dark-theme-blog-post-background-color;
    color: variables.$light-theme-background-color;
  }
  
  .dark-theme .blog-post button {
    background-color: variables.$light-theme-blog-post-button-background-color;
    color: variables.$light-theme-background-color;
  }
  
  .dark-theme .blog-post button:hover {
    background-color: variables.$light-theme-blog-post-button-hover-background-color;
  }
  
  .dark-theme .navbar {
    background-color: variables.$dark-theme-blog-post-background-color;
  }
  

  
